{% extends 'index.html' %}

{% block extra_css %}
    <style>
        .content-wrapper {
            background-color: #d4d5d5 !important;
        }

        .btn-menu {
            background-color: #8e85b3;
            color: #D3D2DA;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
{#                <div class="card-header" style="background-color: #817D93; color: #D3D2DA;">#}
                <div class="card-header" style="background-color: #8e85b3; color: #D3D2DA;">
                    <h3 class="card-title">Menu</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Item</th>
                            <th>Price</th>
                            <th>Order</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1.</td>
                            <td>Hair-cut</td>
                            <td> $ 20 </td>
                            <td>
                                <a type="submit" href="#" class="btn btn-menu"> Add </a>
                            </td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Saving</td>
                            <td> $ 20 </td>
                            <td>
                                <a type="submit" href="#" class="btn btn-menu"> Add </a>
                            </td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Hair Colour</td>
                            <td> $ 20 </td>
                            <td>
                                <a type="submit" href="#" class="btn btn-menu"> Add </a>
                            </td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>Hair Spa</td>
                            <td> $ 20 </td>
                            <td>
                                <a type="submit" href="#" class="btn btn-menu"> Add </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
{#                <div class="card-header" style="background-color: #817D93; color: #D3D2DA;">#}
                <div class="card-header" style="background-color: #8e85b3; color: #D3D2DA;">
                    <h3 class="card-title">Your orders</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">

                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
{% endblock %}