{% load static %}

<style>
    .main-sidebar{
        background-color: #F1F3F5 !important;
    }

    .brand-link {
        border-bottom: 1px solid #dee0e1 !important;
    }

    .my-brand-text{
        text-transform: uppercase;
        display: block;
        font-size: 18px;
        color: #07080d;
        text-align: center;
        font-weight: 400;
        line-height: 30px;
    }

    a > p {
        font-size: 130%;
    }

    .user-panel {
        border-bottom: 2px solid #DEE0E1 !important;
    }

    .sidebar a {
        color: #323436 !important;
    }

    .nav-sidebar >.nav-item >.nav-link {
        color: #74767b !important;
    }

    .nav-sidebar >.nav-item >.nav-link.active {
        background-color: #A28EB9 !important;
        color: #FFFFFF !important;
    }

    .nav-sidebar >.nav-item >.nav-link:hover {
        {#background-color: #9C27B0 !important;#}
        background-color: #cdcfd1 !important;
        {#color: #FFFFFF !important;#}
    }

    ul > li > a > p {
        padding-left: 10px;
    }

    .user-panel .info {
        padding: 5px 5px 5px 17px !important;
    }
</style>

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="{% static 'images/admin-lte/AdminLTELogo.png' %}" alt="Admin" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="my-brand-text brand-text" style="font-size: 130%;" >AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'images/admin-lte/avatar5.png' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block" style="font-size: 130%;">{{ request.user.first_name }} {{ request.user.last_name }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="pages/widgets.html" class="nav-link active">
                        <i class="nav-icon material-icons">dashboard</i>
                        <p>
                            Dashboard
{#                            <span class="right badge badge-danger">New</span>#}
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="pages/widgets.html" class="nav-link">
                        <i class="nav-icon material-icons">person</i>
                        <p>
                            Account
{#                            <span class="right badge badge-danger">New</span>#}
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="pages/widgets.html" class="nav-link">
                        <i class="nav-icon material-icons">sell</i>
                        <p>
                            Orders
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'sign-out' %}" class="nav-link">
                        <i class="nav-icon material-icons">logout</i>
                        <p>
                            Sign out
{#                            <span class="right badge badge-danger">New</span>#}
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>